img{
    max-height: inherit;
    width: inherit;
    object-fit: cover;

}

.categoryWrapper{
    position: relative;
    max-height: inherit;
    width: inherit;
    border: 1px solid black;
}

.itemBox{

    position: absolute;
    height: 40%;
    width: 60%;
    background-color: rgba(256,256,256,0.4);
    z-index: 1;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border: 1px solid black;
    color: black;
    transition: background-color 0.4s;
}

.itemBox:hover{
    background-color: rgba(256,256,256,0.5);
}


.itemDesc{
    position: absolute;
    display: inline-block;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    

}



.itemDesc > div{
    text-align: center;
}

.itemDesc > .heading{
    font-size: 1.2rem;
}

.itemDesc > .description{
    margin-top: auto;
    margin-bottom: auto;
}


