

.loginContainer {
    height: 100vh;
}

.itemContainer{
    margin-top: 10%;
}

.fixedtop{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.rowContainer{
    justify-content: center;
    transform: translateY(50%);
}

.addItemRow{

    margin-top: 25%;
    

}

@media only screen and (max-width: 575px) {
    .rowContainer {
        transform: translateY(10%);
    }
    .colContainer{
        margin-top: 10px;
    }

} 